---
layout: default
title: Products
suppress_header: true
extra_css:
  - pricing.css
  - faq.css
extra_js:
  - faq.js
extra_font:
  - "Roboto+Slab"
---

.page-container.pricing-container.text-center.animated
  .container
    %h1.page-headline
      Flexible plans for individuals and businesses
    %h4.subheader
      All plans include Git repository management, code reviews, issue tracking, built-in GitLab CI for continuous integration and delivery, plus a 45 day money-back guarantee.

.pricing-options.text-center
  .container
    .row{ data: { equal: ".col-md-3" } }
      %h4.subheader
        Below are the options to host GitLab yourself, we can also host it for
        you on #{link_to 'GitLab.com',  '/gitlab-com'}.
      .col-md-4
        .featured-item
          .edition-name
            Community Edition
          .featured-item-body
            %p.edition-description
              Ideal for personal projects or small teams with minimal user management and workflow control needs.
            .edition-pricing
              %h2.col-md-7.featured-item-headline
                FREE
              %h3.col-md-5.featured-item-headline-small
                unlimited
                %br
                users
            = link_to "View More ", "#community-edition", class: "featured-item-expand"
            %ul#community-edition.featured-item-list.list-unstyled
              %li.item-description
                Git repository hosting
              %li.line-separator
              %li.item-description
                Code review
              %li.line-separator
              %li.item-description
                Issue tracking
              %li.line-separator
              %li.item-description
                = link_to "GitLab CI", "/features/gitlab-ci-cd/"
              %li.line-separator
              %li.item-description
                = link_to "Time tracking", "https://about.gitlab.com/features/time-tracking/"
              %li.line-separator
              %li.item-description
                = link_to "Cycle analytics", "/features/cycle-analytics/"
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "#compare-options"
            .edition-actions.align-button
              = link_to "Install", "/installation/", class: "featured-item-button"
      .col-md-4
        .featured-item
          .edition-name.edition-enterprise
            Enterprise Edition Starter
          .featured-item-body
            %p.edition-description
              Ideal for co-located teams who need additional security and workflow controls for their professional projects.
            .edition-pricing
              %h2.col-md-7.featured-item-headline
                $3.25
              %h3.col-md-5.featured-item-headline-small
                per user
                %br
                per month
              %h4.col-md-12.featured-item-headline-smaller
                paid annually at $39
            = link_to "View More ", "#enterprise-edition-starter", class: "featured-item-expand"
            %ul#enterprise-edition-starter.featured-item-list.list-unstyled
              %li.item-description.text-muted
                Community plus...
              %li.line-separator
              %li.item-description
                LDAP group sync
              %li.line-separator
              %li.item-description
                Repository mirroring
              %li.line-separator
              %li.item-description
                Merge request approvals
              %li.line-separator
              %li.item-description
                Push rules
              %li.line-separator
              %li.item-description
                Next business day support
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "/gitlab-ee"
            .edition-actions
              = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fe58bdf4e00158d696fff06a41", class: "featured-item-button"
              = link_to "Free Trial", "https://about.gitlab.com/free-trial/", class: "featured-item-link"
      .col-md-4
        .featured-item
          .edition-name.edition-enterprise
            Enterprise Edition Premium
          .featured-item-body
            %p.edition-description
              Ideal for distributed teams who need advanced workflow controls, advanced CI/CD, advanced Monitoring, advanced Project Management, High Availability, and Premium Support.
            .edition-pricing
              %h2.col-md-7.featured-item-headline
                $16.59
              %h3.col-md-5.featured-item-headline-small
                per user
                %br
                per month
              %h4.col-md-12.featured-item-headline-smaller
                paid annually at $199
            = link_to "View More ", "#enterprise-edition-premium", class: "featured-item-expand"
            %ul#enterprise-edition-premium.featured-item-list.list-unstyled
              %li.item-description.text-muted
                Starter plus...
              %li.line-separator
              %li.item-description
                = link_to "GitLab Geo", "https://about.gitlab.com/features/gitlab-geo/"
              %li.line-separator
              %li.item-description
                = link_to "Support for High Availability", "https://about.gitlab.com/high-availability/"
              %li.line-separator
              %li.item-description
                = link_to "4-hr support response time", "https://about.gitlab.com/features/premium-support/"
              %li.line-separator
              %li.item-description
                = link_to "24/7 emergency support", "https://about.gitlab.com/features/premium-support/"
              %li.line-separator
              %li.item-description
                = link_to "End user & admin training", "https://about.gitlab.com/features/premium-support/"
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "/gitlab-ee"
            .edition-actions
              = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fd58c4fff70158d6989f6f2a3d", class: "featured-item-button"
              = link_to "Contact Us", "https://about.gitlab.com/sales/", class: "featured-item-link"

#compare-options.what-is.choose-gitlab.text-center.animated
  .container
    %h2.choose-gitlab-title
      %a{name: "comparison"}
      Choose the GitLab edition that is best for your team
.container
  .compare
    = partial "includes/features/table"
.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Subscription & Licensing FAQ
    %h3.faq-subtitle.light.text-center
      Still have questions?
      = succeed "." do
        = link_to "Contact Us", "/sales/"
    .faq-holder.clearfix
      - size = (data.pricing.questions.size / Float(2)).ceil
      - data.pricing.questions.each_slice(size).to_a.each do |group|
        = partial "includes/layout/question_group", locals: { group: group }

.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Compare GitLab to other tools
    %h3.faq-subtitle.light.text-center
      We've prepared
      %a{href: "/comparison"}
        handy comparison tables for you.
